.singleGif {
  background: {
    size: cover;
    repeat: no-repeat;
    position: center center;
  }
  padding-top: 56.25%;

  &-modalWrapper {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &-modal {
    background: {
      repeat: no-repeat;
      position: center center;
      size: contain;
    }
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &-modalClose {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 9;
    background: white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-modalInfo {
    position: absolute;
    bottom: 25px;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}