// BASE SETTINGS

$base-font-size: 16px;
$gutter: 40px;
$container-width: 1150px;

// BREAKPOINTS //

$breakpoints: (
  palm: '(max-width: 480px)',
  phablet: '(max-width: 600px)',
  ipad: '(max-width: 768px)',
  belowIpad: '(max-width: 767px)',
  ipadAndAbove: '(min-width: 768px)',
  lap: '(min-width: 481px) and (max-width: 1024px)',
  screen: '(max-width: 1366px)',
  desk: '(min-width: 1024px)',
  portable: '(max-width: 1024px)',
  large: '(min-width: 481px)'
);

// COLOURS
$primaryColor: #006ac3; // main blue
$secondaryColor: #00aeb5; // teal

// Text - all greys
$primaryText: #585858;
$primaryHeading: #252525;
$secondaryHeading: #444444;
$tertiaryHeading: #6f6f6f;

// Backgrounds
$backgroundGrey: #fafafa;
$backgroundBlue: #CDEDF8;
$backgroundBlue--secondary: #51b5e0;
$backgroundBlue--tertiary: #0287d2;
$backgroundDarkBlue: #0054a5;
$backgroundYellow: #fedf01;
$backgroundRed: #b91a0e;
$backgroundOrange: #fca311;


// TYPEPOGRAPHY SETTINGS
$primaryFont: 'Fira Sans', sans-serif;
$secondaryFont: 'Roboto', sans-serif;
$tertiaryFont: Georgia, serif;
