// imports
@import "./variables";
@import "./grid";
@import "./combo";
@import "./utilities";

html {
  font-size: 62.5%;
}

html,
body,
ul {
  margin:  0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.grid {
  width: 400px;
}