// imports
@import "./variables";
@import "./mixins";
@import "./grid";
@import "./combo";
@import "./utilities";

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body,
ul {
  margin:  0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}